numpy~=2.2.1
# matplotlib
colorama
# pysendfile
requests
PyQt6~=6.7.0
scikit-image
scanf~=1.5.2
fputs~=1.0.0
scipy~=1.14.1
antlr4-python3-runtime~=4.13.0
pyqtgraph
pytest==9.0.3
pytest-cov==7.1.0
numba==0.65.0